.resume {
    max-width: 1000px;
    height: auto;
    display: flex;
    margin: 20px;
}

.resume_right {
    max-width: 660px;
    background: #fff;
    padding: 25px;
    border: 2px solid #0bb5f4;
}

@media (max-width: 768px) {
    .bold {
        font-size: 16px; /* Уменьшите размер заголовков */
    }

    .semi-bold {
        font-size: 14px; /* Уменьшите размер полужирного текста */
    }

    .regular, .regular1 {
        font-size: 16px; /* Уменьшите размер обычного текста */
    }
}
